body {
     color: black;
     font-family: Verdana,Arial,sans-serif;
     font-size: 12px;
}

#main {
     background: none repeat scroll 0% 0% #808080;
     border-radius: 12px 12px 12px 12px;
     box-shadow: 0px 3px 6px #CCCCCC;
     clear: both;
     color: #DBDBDB;
     font-family: Helvetica,Verdana,Arial,sans-serif;
     font-size: 12px;
     height: 390px;
     margin-top: 10px;
     overflow: hidden;
     padding: 5px 20px 40px;
     width: 1000px;
}


img {
     border: 0px none;
}

a {
     color: #33CCCC;
     font-weight: bold;
     text-decoration: none;
}

a:hover {
     text-decoration: underline;
}

a.tagactive {
     color: #33CCCC;
}

a.tagactive:hover {
     text-decoration: none;
}

.clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0px;
     visibility: hidden;
}

.clearfix {
     display: inline-table;
}

* html .clearfix {
     height: 1px;
}

.clearfix {
     display: block;
}

h1 {
     font-family: Helvetica,Arial,sans-serif;
     font-size: 22px;
     padding-bottom: 6px;
     padding-left: 5px;
     padding-top: 25px;
}

h2 {
     font-family: Verdana,Arial,sans-serif;
     font-size: 16px;
     font-weight: bold;
     padding-top: 0px;
}

#outer {
     margin-left: 10%;
     margin-right: 10%;
     margin-top: 0px;
     width: 1024px;
}
#img {
     box-shadow: 0px 4px 10px 2px rgba(119, 119, 119, 0.6);
     -moz-box-shadow: 0px 4px 10px 2px rgba(119, 119, 119, 0.6);
     -webkit-box-shadow: 0px 4px 10px 2px rgba(119, 119, 119, 0.6); 
}


